{% extends "base.html" %}

{% block content %}
    <h1>Make a New Blog Post</h1>
    <form action="/newpost" method='POST'>
        <label>
            <p>Title:</p>
            <input type="text" name='blog_title' class="rem_serif"/>
        </label>
        {% if title_error %}
            <p class="error"> {{ title_error }} </p>
        {% endif %}
        <br>
        <label>
            <p>Write what you'd like to say:</p>
            <p><textarea name="blog_body" rows="6" 
                cols="70" class="rem_serif"></textarea></p>
        </label>
        {% if body_error %}
            <p class="error"> {{ body_error }} </p>
        {% endif %}
        <br>
        <br>
        <input type="submit" value='Blog It!' />
    </form>
{% endblock %}